@font-face {
    font-family: 'MartialMono';
    src:local('MartialMono'),
        local('MartialMono'),
        url(font/MartianMono-Regular.woff) format('woff'),
        url(font/static/MartianMono-Regular.ttf);
}
.verh{
    position: absolute;
    width: 1836px;
    height: 101px;
    left: 42px;
    top: 27px;
    background: #D9D9D9;
    border-radius: 45px;
}
.nazvanie{
    position: absolute;
    width: 334px;
    height: 51px;
    left: 87px;
    top: 56px;
    font-family: MartialMono;
    font-style: normal;
    font-weight: 400;
    font-size: 34px;
    line-height: 41px;
    color: #000000;
}
.glavnaya{
position: absolute;
width: 158px;
height: 43px;
left: 543px;
top: 52px;
font-family: MartialMono;
font-style: normal;
font-weight: 400;
font-size: 27px;
line-height: 49px;
color: #000000;
text-decoration: none;
}
.krug{
position: absolute;
width: 194px;
height: 64px;
left: 513px;
top: 45px;
background: #FFFEFE;
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
border-radius: 45px;
}
.krug2{
position: absolute;
width: 171px;
height: 64px;
left: 799px;
top: 45px;
background: #FFFEFE;
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
border-radius: 45px;
}
.onas{
position: absolute;
width: 117px;
height: 43px;
left: 838px;
top: 52px;
font-family: MartialMono;
font-style: normal;
font-weight: 400;
font-size: 27px;
line-height: 49px;
color: #000000;
}
.krug3{
position: absolute;
width: 283px;
height: 64px;
left: 1078px;
top: 45px;
background: #2A04B6;
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
border-radius: 45px;
}
.zapistsa{
position: absolute;
width: 197px;
height: 35px;
left: 1130px;
top: 52px;

font-family: MartialMono;
font-style: normal;
font-weight: 400;
font-size: 27px;
line-height: 49px;

color: #FFFFFF;
}
.krug4{
position: absolute;
width: 206px;
height: 64px;
left: 1466px;
top: 45px;

background: #FFFEFE;
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
border-radius: 45px;
}
.otzivi{
position: absolute;
width: 144px;
height: 43px;
left: 1512px;
top: 52px;
font-family: MartialMono;
font-style: normal;
font-weight: 400;
font-size: 27px;
line-height: 49px;
color: #000000;
}
.palka{
position: absolute;
width: 54.45px;
height: 0px;
left: 1778px;
top: 94px;
border: 3px solid #000000;
border-radius: 45px;
}
.palka2{
position: absolute;
width: 54.45px;
height: 0px;
left: 1778px;
top: 75px;
border: 3px solid #000000;
border-radius: 45px;
}
.palka3{
position: absolute;
width: 54.45px;
height: 0px;
left: 1778px;
top: 56px;
border: 3px solid #000000;
border-radius: 45px;
}
.obuchenie{
position: absolute;
width: 550px;
height: 198px;
left: 145px;
top: 730px;

font-family: MartialMono;
font-style: normal;
font-weight: 400;
font-size: 64px;
line-height: 77px;

color: #D2D2D2;
}
.phon{
position: absolute;
width: 1903px;
height: 3050px;
left: 0px;
top: 1076px;
background: #280079;
}
.plus{
position: absolute;
width: 350px;
height: 350px;
left: 785px;
top: 1147px;
background: #400DA8;
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
border-radius: 2000px;
}
.onas2{
position: absolute;
width: 190px;
height: 49px;
left: 880px;
top: 1287px;

font-family: MartialMono;
font-style: normal;
font-weight: 600;
font-size: 40px;
line-height: 54px;

color: #FFFFFF;

text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

}
.oval{
position: absolute;
width: 508px;
height: 637.39px;
left: 173px;
top: 1651px;

filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
background: #400DA8;
border-radius: 35px;

}
.mi{
position: absolute;
width: 330px;
height: 515px;
left: 229px;
top: 1724.39px;

font-family: MartialMono;
font-style: normal;
font-weight: 400;
font-size: 36px;
line-height: 46px;
text-align: left;

color: #FFFFFF;

text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

}
.oval2{
position: absolute;
width: 765px;
height: 622px;
left: 982px;
top: 1666px;

filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
background: #400DA8;
border-radius: 35px;

}
.unas{
position: absolute;
width: 596.78px;
height: 224.06px;
left: 1073px;
top: 1800px;

font-family: MartialMono;
font-style: normal;
font-weight: 400;
font-size: 36px;
line-height: 46px;
text-align: center;

color: #FFFFFF;

text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

}
.oval3{
position: absolute;
width: 400px;
height: 400px;
left: 781px;
top: 2601px;
background: #400DA8;
border-radius: 2000px;

}
.programmi{
position: absolute;
width: 315px;
height: 128px;
left: 865px;
top: 2737px;

font-family: MartialMono;
font-style: normal;
font-weight: 600;
font-size: 37px;
line-height: 54px;

color: #FFFFFF;

text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

}
.oval4{
position: absolute;
width: 429px;
height: 401px;
left: 173px;
top: 3245px;

background: #400DA8;
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
border-radius: 25px;


}
.perechislil{
position: absolute;
width: 275px;
height: 82px;
left: 216px;
top: 3279px;

font-family: MartialMono;
font-style: normal;
font-weight: 600;
font-size: 34px;
line-height: 41px;

color: #FFFFFF;
}
.mini{
position: absolute;
width: 324px;
height: 213px;
left: 216px;
top: 3433px;

font-family: MartialMono;
font-style: normal;
font-weight: 400;
font-size: 28px;
line-height: 34px;

color: #FFFFFF;
}
.oval5{
position: absolute;
width: 429px;
height: 401px;
left: 746px;
top: 3245px;

background: #400DA8;
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
border-radius: 25px;

}
.geymdizayn{
position: absolute;
width: 266px;
height: 41px;
left: 791px;
top: 3299px;

font-family: MartialMono;
font-style: normal;
font-weight: 600;
font-size: 34px;
line-height: 41px;

color: #FFFFFF;


}
.mini2{
position: absolute;
width: 324px;
height: 213px;
left: 791px;
top: 3428px;

font-family: MartialMono;
font-style: normal;
font-weight: 400;
font-size: 28px;
line-height: 34px;

color: #FFFFFF;


}
.oval6{
position: absolute;
width: 429px;
height: 401px;
left: 1318px;
top: 3245px;

background: #400DA8;
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
border-radius: 25px;

}
.data{
position: absolute;
width: 338px;
height: 41px;
left: 1363px;
top: 3297px;
font-family: MartialMono;
font-style: normal;
font-weight: 600;
font-size: 34px;
line-height: 41px;

color: #FFFFFF;


}
.mini3{
position: absolute;
width: 324px;
height: 213px;
left: 1363px;
top: 3423px;

font-family: MartialMono;
font-style: normal;
font-weight: 400;
font-size: 28px;
line-height: 34px;

color: #FFFFFF;


}
.phon2{
position: absolute;
width: 1903px;
height: 978px;
left: 0px;
top: 4125px;

background: #D9D9D9;

}
.kvadrat{
position: absolute;
width: 385px;
height: 674px;
left: 100px;
top: 4347px;

background: #FFFFFF;
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
border-radius: 69px;

}
.imba{
position: absolute;
width: 250px;
height: 419px;
left: 149px;
top: 4430px;

font-family: MartialMono;
font-style: normal;
font-weight: 400;
font-size: 42px;
line-height: 41px;

color: #000000;


}
.kvadrat2{
position: absolute;
width: 1243px;
height: 589px;
left: 570px;
top: 4432px;

background: #FFFFFF;
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
border-radius: 85px;

}
.blank{
position: absolute;
width: 1075px;
height: 99px;
left: 654px;
top: 4515px;

background: #ECECEC;
border-radius: 25px;

}
.imya{
position: absolute;
width: 289px;
height: 49px;
left: 688px;
top: 4548px;

font-family: MartialMono;
font-style: normal;
font-weight: 400;
font-size: 34px;
line-height: 41px;

color: #000000;
}
.blank2{
position: absolute;
width: 507px;
height: 108px;
left: 654px;
top: 4673px;

background: #ECECEC;
border-radius: 25px;

}
.telephon{
position: absolute;
width: 289px;
height: 49px;
left: 688px;
top: 4712px;

font-family: MartialMono;
font-style: normal;
font-weight: 400;
font-size: 34px;
line-height: 41px;

color: #000000;


}
.blank3{
position: absolute;
width: 507px;
height: 108px;
left: 1222px;
top: 4673px;

background: #ECECEC;
border-radius: 25px;

}
.pochta{
position: absolute;
width: 444px;
height: 49px;
left: 1254px;
top: 4712px;

font-family: MartialMono;
font-style: normal;
font-weight: 400;
font-size: 34px;
line-height: 41px;

color: #000000;
}
.blank4{
position: absolute;
width: 507px;
height: 95px;
left: 654px;
top: 4860px;

background: #280079;
border-radius: 25px;

}
.otpravit{
position: absolute;
width: 218px;
height: 47px;
left: 802px;
top: 4884px;

font-family: MartialMono;
font-style: normal;
font-weight: 400;
font-size: 34px;
line-height: 41px;

color: #FFFFFF;


}
.phon3{
position: absolute;
width: 1903px;
height: 1301px;
left: 0px;
top: 5103px;

background: #280079;

}
.kuk{

position: absolute;
width: 506px;
height: 139px;
left: 707px;
top: 5249px;

background: #400DA8;
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
border-radius: 45px;

}
.otz{
position: absolute;
width: 204px;
height: 37.94px;
left: 875px;
top: 5290px;

font-family: MartialMono;
font-style: normal;
font-weight: 400;
font-size: 40px;
line-height: 48px;

color: #FFFFFF;


}
.pop{
position: absolute;
width: 718px;
height: 369.2px;
left: 100px;
top: 5587.87px;

background: #400DA8;
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
border-radius: 25px;

}
.pop2{
position: absolute;
width: 718px;
height: 369.2px;
left: 1125px;
top: 5587.87px;

background: #400DA8;
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
border-radius: 25px;

}
.cock{
position: absolute;
width: 96px;
height: 88.83px;
left: 132px;
top: 5614.7px;

background: #D9D9D9;
border-radius: 200px;
}
.cock2{
position: absolute;
width: 96px;
height: 88.83px;
left: 1161px;
top: 5614.7px;

background: #D9D9D9;
border-radius: 200px;
}
.matvey{
position: absolute;
width: 271px;
height: 49.04px;
left: 292px;
top: 5634.13px;
font-family: MartialMono;
font-style: normal;
font-weight: 700;
font-size: 40px;
line-height: 48px;

color: #FFFFFF;


}
.alina{
position: absolute;
width: 333px;
height: 49.04px;
left: 1317px;
top: 5634.13px;

font-family: MartialMono;
font-style: normal;
font-weight: 700;
font-size: 40px;
line-height: 48px;

color: #FFFFFF;


}
.otlichno{
position: absolute;
width: 192px;
height: 47.19px;
left: 143px;
top: 5758px;

font-family: MartialMono;
font-style: normal;
font-weight: 400;
font-size: 34px;
line-height: 41px;

color: #FFFFFF;


}
.obuchalsya{
position: absolute;
width: 604px;
height: 170.26px;
left: 1174px;
top: 5758.13px;

font-family: MartialMono;
font-style: normal;
font-weight: 400;
font-size: 34px;
line-height: 41px;

color: #FFFFFF;


}
.phon4{
position: absolute;
width: 1903px;
height: 162px;
left: 0px;
top: 6242px;

background: #200160;

}
.dvetishi{
position: absolute;
width: 521px;
height: 36px;
left: 100px;
top: 6283px;

font-family: 'Istok Web';
font-style: normal;
font-weight: 400;
font-size: 25px;
line-height: 36px;

color: #FFFFFF;


}
.rofl{
position: absolute;
width: 319px;
height: 23px;
left: 100px;
top: 6335px;

font-family: 'Istok Web';
font-style: normal;
font-weight: 400;
font-size: 25px;
line-height: 36px;

color: #FFFFFF;


}
.rofl2{
position: absolute;
width: 409px;
height: 36px;
left: 688px;
top: 6283px;

font-family: 'Istok Web';
font-style: normal;
font-weight: 400;
font-size: 25px;
line-height: 36px;

color: #FFFFFF;


}
.rofl3{
position: absolute;
width: 183px;
height: 36px;
left: 688px;
top: 6335px;

font-family: 'Istok Web';
font-style: normal;
font-weight: 400;
font-size: 25px;
line-height: 36px;

color: #FFFFFF;


}
.krutishi{
position: absolute;
width: 606px;
height: 92px;
left: 1237px;
top: 6294px;

font-family: MartialMono;
font-style: normal;
font-weight: 400;
font-size: 36px;
line-height: 52px;
text-align: center;

color: #FFFFFF;


}
.photo{
position: absolute;
width: 1903px;
height: 1076px;
left: 0px;
top: 0px;

background: url(img/programmist.PNG);
background-size:cover;

}